 <%- include ("../partials/navbar.ejs") %>  <!-- partial must be in brackets -->
<div class="container">
  <div class="header">
    <h1 class="page-header">Reminders</h1>
    <a href="/auth/logout" class = "btn btn-secondary">Logout</a>
  </div>
  
<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <div>
        <strong><%= reminderItem.title %>:</strong>
        <p><%= reminderItem.description %></p>
        <div>
          Completed:
          <% if (reminderItem.completed) { %>
            <span class="badge badge-success">True</span>
          <% } else { %>
            <span class="badge badge-danger">False</span>
          <% } %>
        </div>

        <a class="btn btn-primary pull-right" href="<%= "/reminder/" + reminderItem.id %>">View</a>
      </div>
    </li>
  <% }) %>
</ul>
</div>
